*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

p{
  font-size: 15.008px;
}


@media screen and (max-width: 768px) {

  .togglers{
    display: block !important;
  }

  nav button{
    display: none;
  }
  
  nav ul{
    position: fixed;
    top: -180px;
    box-shadow: 0 0 20px rgb(118, 118, 118);
    border-radius: 10px;
    left: 50%;
    padding: 1rem 0;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background-color: #fff;
    width: 300px;
    margin: auto;
    transition: all 0.3s ease-in-out;
  }
}